@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-space h-screen text-white bg-cover bg-center;
}
img {
  @apply select-none;
}

h1 {
  @apply text-3xl sm:text-4xl md:text-5xl font-bold;
}

h2 {
  @apply text-2xl sm:text-3xl md:text-4xl font-bold;
}

.brand-link:hover {
  filter: brightness(0) saturate(100%) invert(69%) sepia(40%) saturate(6364%) hue-rotate(307deg) brightness(88%)
    contrast(87%);
}
